@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

$root-background: radial-gradient(circle at 0% 50%, #3b3c42, #2c2f40 60%, #21222a);
$info-overlay-background: radial-gradient(circle at 0% 0%, #3b3c42, #2c2f40 60%, #21222a);
$inspector-background: radial-gradient(circle at 0% 0%, #212f4b, #293342);
$node-background: linear-gradient(45deg, #1b1b3a 10%, #693668 50%, #a74482 50%, #f84aa7 100%);
$shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

$size-xs: 4px;
$size-sm: 8px;
$size-md: 16px;
$size-lg: 32px;
$size-xl: 64px;

$grid-size: 32px;
$grid-color: #ffffff20;

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0px;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $root-background;
}

#inspector {
  width: 100%;
  padding: $size-md;
  display: flex;
  flex-direction: row;
  gap: $size-md;
  background: $inspector-background;
  box-shadow: $shadow;
  color: white;
  align-items: center;
  font-size: small;

  #tree-input-label {
    @media (max-width: 400px) {
      display: none;
    }
  }

  #tree-input {
    width: 0px;
    max-width: 400px;
    flex: 1;
    background: rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    color: white;
    padding: $size-sm;
    border-radius: $size-xs;
    font-weight: bold;
    font-size: $size-md;
    border-bottom: 2px solid white;
    word-spacing: $size-sm;
    font-size: small;
    transition: border-bottom 225ms;

    &::placeholder {
      word-spacing: initial;
      color: transparent;
      @media (max-width: 400px) {
        color: #555;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    &:focus {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

#scene {
  width: 100%;
  height: 0px;
  flex: 1;
  position: relative;

  #scroll-area {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;

    #grid {
      position: absolute;
      z-index: 0;
      top: 0px;
      left: 0px;
      background: linear-gradient(
          to right,
          transparent 0px,
          transparent calc($grid-size - 1px),
          $grid-color calc($grid-size - 1px),
          $grid-color $grid-size
        ),
        linear-gradient(
          to bottom,
          transparent 0px,
          transparent calc($grid-size - 1px),
          $grid-color calc($grid-size - 1px),
          $grid-color $grid-size
        );
      background-size: $grid-size $grid-size;
      background-repeat: repeat;

      .node {
        border-radius: 60px;
        background: $node-background;
        box-shadow: $shadow;
        position: absolute;
        z-index: 50;
        display: flex;
        border: 1px solid white;
        transition: 225ms;
        padding: $size-md;
        user-select: none;

        p {
          color: white;
          margin: auto;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          width: 140px !important;
          transform: translateX(-30px);
          z-index: 100;
        }
      }

      .leaf {
        border-radius: $size-xs;
      }

      .line {
        position: absolute;
      }
    }
  }

  #error-overlay {
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 100;
    inset: 0px;
    background: rgba(25, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $size-md;
    padding-inline: $size-lg;
    transition: opacity 225ms;

    p {
      margin: 0px auto;
      text-align: center;
    }

    #error-title {
      color: white;
      font-size: x-large;
    }

    #error-message {
      color: salmon;
      font-size: medium;
    }
  }

  #info-overlay {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $size-sm;
    z-index: 150;
    transition: opacity 225ms;
    opacity: 0;

    @keyframes scale-up {
      from { transform: scale(50%) }
      to { transform: scale(100%) }
    }

    #info-card {
      background: $info-overlay-background;
      color: white;
      box-shadow: $shadow;
      border-radius: $size-xs;
      width: min(100%, 500px);
      height: min(100%, 500px);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      overflow: hidden;
      animation: scale-up 225ms ease-out forwards;

      #info-card-heading {
        background: #445;
        width: 100%;
        display: flex;
        padding: $size-md;
        flex-direction: row;
        gap: $size-md;
        padding: $size-md;
        justify-content: space-between;
        align-items: center;
        box-shadow: $shadow;
        z-index: 200;

        .icon-button {
          width: 32px !important;
        }

        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      #info-card-body {
        width: 100%;
        height: 0px;
        flex: 1;
        padding: $size-md;
        overflow: auto;
        z-index: 170;

        .github-anchor {
          font-size: x-large;
          color: white;
          margin-inline: $size-xs;
          text-decoration: none;
        }

        #examples {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: $size-sm;

          .example-stack {
            width: 0px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $size-sm;

            .example-img {
              width: 100%;
              aspect-ratio: 1 / 1;
              border-radius: $size-xs;
            }

            p {
              text-align: center;
              word-spacing: $size-sm;

              @media (max-width: 400px) {
                font-size: x-small;
              }
            }
          }
        }

        p {
          color: #ccc;
          font-size: small;
          line-height: 150%;
          text-align: justify;
          &.heading {
            font-size: medium;
            margin-bottom: $size-md;
          }
        }
      }

      p {
        margin: 0px;
      }
    }
  }
}

.hide {
  display: none !important;
}

.icon-button {
  font-size: large;
  color: white;
  background: transparent;
  border: none;
  border-radius: $size-xs;
  padding: 0px;
  width: 38px;
  height: 32px;
  cursor: pointer;

  &:disabled {
    color: gray;
    pointer-events: none;
  }

  &:hover {
    background: #fff1;
  }

  &:focus-visible {
    outline: 1px solid white;
    background: #fff1;
  }

  &:active {
    background: #fff2;
  }
}